
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        


          <div class="inner cover">
          	
         
		<div class="row title-text">
			<h2><span id="some-id">22DDE036539479B1FAC0DE7B92A4968F747BE128</span></h2>
		</div>
			
	
		


            <h2>WISP aims to advance women in the privacy and security industries by providing advocacy, networking, mentoring, and leadership development.</h2>
            <hr>
		      	<h3 class="red">We are a group of women in privacy and security who aim to:</h3>
		
    	<ul class="bigger-font">
				<li>Increase representation of women in these industries;</li>
        <p></p>
				<li>Build a trusted community of advocates, mentors, and partners;</li>
        <p></p>
				<li>Advance leadership opportunities; and</li>
        <p></p>
				<li>Drive innovation through exchange of ideas and best practices.</li>
			</ul>
			
            <div class="quarter-row"></div>
            <p class="lead">
              <span class="btn btn-start btn-lg btn-default"><%= link_to 'JOIN US', contact_path %></span>
              
            </p>
          </div>


      </div>

    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script src="../../assets/js/jquery.shuffleLetters.js"></script>
    <script src="../../assets/js/script.js"></script>
    <script src="../../assets/js/shuffleText.js"></script>
    <script src="../../assets/js/shuffleText.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   
	 <script>
    var CoolTextEffect = {
      generateRandomString: function(length) {

        var string = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for(var i=0; i < length-1; i++ ) {
            string += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return string;
      },
      execute: function(id, text, speed) {

        //get the target element
        var element = document.getElementById(id);
        var shownText;

        var remaining = text.length;

        var that = this;
        var interval = setInterval(function() {
          shownText = that.generateRandomString(remaining);

          //show text
          element.innerHTML = text.substring(0, text.length - remaining + 1) + shownText;


          remaining--;

          if(remaining <= 0) {
            clearInterval(interval);
          }

        }, speed)
      }
    };

  
   //use this!
    CoolTextEffect.execute("some-id", "Women in Security and Privacy", 100);

  </script>
	
 

  </body>

