
  

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <div class="inner cover">
          	
		        <div class="row title-text">
			        <h3><span id="some-id"></span></h3>
		        </div>
		
            <h2>WISP aims to advance women in the privacy and security industries by providing advocacy, networking, mentoring, and leadership development.
            </h2>
            
            <hr>
		      	
            <h3>We are a group of women in security and privacy who aim to:</h3>
		
    	     <ul class="bigger-font">
				    <li>Increase representation of women in these industries;</li>
            <p></p>
            <p></p>
				    <li>Advance leadership opportunities; and</li>
            <p></p>
				    <li>Drive innovation through exchange of ideas and best practices.</li>
			     </ul>
			     
            <div class="quarter-row"></div>
            <div class="quarter-row"></div>
        
            <p class="lead">
              <span class="btn btn-start btn-lg btn-default"><%= link_to 'JOIN US', contact_path %>
              </span>
             </p>
          <div class="quarter-row"></div>
       
         </div>
      </div>

    



<% if false %>

<hr>
<hr>


       <div class="row">

        <h1 class="black-title-text">
         Women across industries, coming together... 
        </h1>
            <div class="col-md-12" id="scroll">
                <img src="assets/fa-woman-grey.png" id="woman-grey" class="img-responsive" />
                <img src="assets/fa-woman-red.png" id="woman-red" class="img-responsive"/>
                <img src="assets/fa-woman.png" id="woman-black" class="img-responsive"/>
                <img src="assets/fa-woman-darkOrange.png" id="woman-orange" class="img-responsive"/>
                <img src="assets/fa-woman-darkGrey.png" id="woman-darkgrey" class="img-responsive"/>
            </div>
        <h1 class="black-title-text">
           to build a trusted community of advocates, mentors, and partners.
        </h1>

       </div>
<div class="quarter-row"></div>
<hr>
<hr>

<div class="row">
  <div class="col-md-12" id="scroll">
   <h1 class="black-title-text">
    Our Numbers 
   </h1>

  
     <div class="row">
       
        <div class="col-sm-offset-2 col-sm-6" id="float-left">
          <img src="assets/fa-users.png" id="users" class="img-responsive" />
          <h1 class="red users-text">200</span>
        </div>
        
        <div class="col-sm-offset-2 col-sm-6" id="float-left">  
          <img src="assets/fa-calendar.png" id="calendar" class="img-responsive" />
          <h1 class="red calendar">2</h1>
          </h1>
        </div>
   
    </div>
  </div>
</div>

<% end %>

</div>

 




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    
    <script src="../../assets/js/script.js"></script>
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   
	 <script>
    var CoolTextEffect = {
      generateRandomString: function(length) {

        var string = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for(var i=0; i < length-1; i++ ) {
            string += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return string;
      },
      execute: function(id, text, speed) {

        //get the target element
        var element = document.getElementById(id);
        var shownText;

        var remaining = text.length;

        var that = this;
        var interval = setInterval(function() {
          shownText = that.generateRandomString(remaining);

          //show text
          element.innerHTML = text.substring(0, text.length - remaining + 1) + shownText;


          remaining--;

          if(remaining <= 0) {
            clearInterval(interval);
          }

        }, speed)
      }
    };

  
   //use this!
    CoolTextEffect.execute("some-id", "Women in Security and Privacy", 100);


  </script>
	
 



