<h1>Privacy Statement</h1>
<h5>Last Revised Date: February 2, 2015</h5>


<div class="row">

	<p class="text-justify">
	  Wisp-net.org = "WISP", "us", "our", or "Site"
	
	<div class="quarter-row"></div>

	  <h2>Information we collect.</h2>  
	  <p class="bigger-font text-justify">
	  	If you opt-in to our email list, we collect personal information from you when you sign up.  That information includes your name and/or email address.  We may also periodically put out polls/surveys where we will collect information from you if you affirmatively provide it to us.     
	  </p>
	  <p class="bigger-font text-left">
	  We also passively collect information via Google Analytics as well as other service providers that help us improve site performance.  Information we collect includes, but is not limited to, your browser, general location, and other browsing based information.  Google Analytics opt-out: <a href="https://tools.google.com/dlpage/gaoptout" alt="Opt Out">Google Analytics Opt-Out</a> 
	  </p>
	
	
<div class="quarter-row"></div>
	
	 <h2>Technology We Use.</h2> 
	 <p class="bigger-font text-left">
	   We use cookies to collect information.  If you don't like cookies, there are a number of services you can use to block cookies on your browser.  
	</p>
	
	
	<div class="quarter-row"></div>
	 <h2>How We Use Your Information.</h2>  
	<p class="bigger-font text-left">
	  We use your information for various purposes to further our mission to advance women in the industry, including to invite you to events, connect you to other members, and make our site better.  
	</p>
	
	<div class="quarter-row"></div>
	<h2>How We Share Your Information.</h2>  
	<p class="bigger-font text-left">
	  We will share your information with the NSA, Facebook, and gremlins.  (just kidding!  they probably all have your data anyway!)  :) 
	</p>
	
	<div class="quarter-row"></div>
	 <h2>How We Keep Your Information.</h2>  
		 <p class="bigger-font text-left">
		  We will store your information as long as we think it could be helfpul to WISP and advancing women in the security and privacy industry.  If you would like us to delete your information, please contact us.  
		</p>

		<p class="bigger-font text-left">
		  By sharing information with us, you consent to the worldwide transfer and processing of your information, even in jurisdictions that may have less restrictive privacy practices than your own.
		</p>

	
	<div class="quarter-row"></div>
	<h2>Contact Us</h2>  
	<p class="bigger-font text-left">
	  If you'd like more information about our privacy practices or want us to delete your personal information from our database, feel free to contact us:  <a href="mailto:admin@wisp-net.org">admin@wisp-net.org</a>.
	</p>

	</p>

</div>
