
<div class="text-center">
<h4> <%= link_to 'home', root_path %> </h4>
</div>

<h2>Privacy Statement</h2>
<h5>Last Revised Date: February 2, 2015</h5>


<div class="row">
	<div class="col-md-9">
	<p>
	  Wisp-net.org = "WISP", "us", "our", or "Site"
	

	  <h3>Information we collect.</h3>  
	  <p class="bigger-font">
	  	If you opt-in to our email list, we collect personal information from you when you sign up.  That information includes your name and/or email address.  We may also periodically put out polls/surveys where we will collect information from you if you affirmatively provide it to us.     
	  </p>
	  <p class="bigger-font">
	  We also passively collect information via Google Analytics as well as other service providers that help us improve site performance.  Information we collect includes, but is not limited to, your browser, general location, and other browsing based information.  Google Analytics opt-out: <a href="https://tools.google.com/dlpage/gaoptout" alt="Opt Out">Google Analytics Opt-Out</a> 
	  </p>
	
	

	
	 <h3>Technology We Use.</h3> 
	 <p class="bigger-font">
	   We use cookies to collect information.  If you don't like cookies, there are a number of services you can use to block cookies on your browser.  
	</p>
	
	
	 <h3>How We Use Your Information.</h3>  
	<p class="bigger-font">
	  We use your information for various purposes to further our mission to advance women in the industry, including to invite you to events, connect you to other members, and make our site better.  
	</p>
	
	
	<h3>How We Share Your Information.</h3>  
	<p class="bigger-font">
	  We will share your information with the NSA, Facebook, and gremlins.  (just kidding!  they probably all have your data anyway!)  :) 
	</p>
	
	
	 <h3>How We Keep Your Information.</h3>  
		 <p class="bigger-font">
		  We will store your information as long as we think it could be helfpul to WISP and advancing women in the security and privacy industry.  If you would like us to delete your information, please contact us.  
		</p>

		<p class="bigger-font">
		  By sharing information with us, you consent to the worldwide transfer and processing of your information, even in jurisdictions that may have less restrictive privacy practices than your own.
		</p>

	
	
	<h3>Contact Us</h3>  
	<p class="bigger-font">
	  If you'd like more information about our privacy practices or want us to delete your personal information from our database, feel free to contact us:  <a mailto:"admin@wisp-net.org">admin@wisp-net.org</a>.
	</p>

	</p>
	</div>
</div>