<!-- / FOOTER -->

<div class="blank-row"></div>
<div class="blank-row"></div>
<div class="blank-row"></div>
     <div class="mastfoot">
            <div class="inner">
              <p><%= link_to 'Privacy Policy', privacy_path %></p>
            </div>
          </div>
