<!-- /HEAD-->

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Women in Security and Privacy</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to 'Home', root_path %></li>
                  <li><a href="#section1">Features</a></li>
                  <li><a href="#section2">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>